:root {
  --color-white: #fff;
  --color-black: #000;
  --color-background-slider: #F5F8FA;
  --color-text: #1A1A1A;
  --color-light-grey: #ECEFF8;
  --color-grey: #6A727B;
  --color-green: #64B847;
  --color-light-green: #F0F7EE;
  --color-blue: #4092F1;
  --color-blue-hover: #3886E1;
  --color-blue-active: #2176DA;
  --color-light-blue-default: #EDF5FE;
  --color-light-blue-hover: #E2EEFC;
  --color-light-blue-active: #DAE8FA;
  --color-red-invalid: #FAF1F1;
  --color-input-hover: #EFF2F6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.4;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
